@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header .mobile-menu-btn .toggler-icon {
      background-color: #081828;
    }
    .header .button {
      margin: 0 !important;
    }
    .header .nav-inner {
      display: block !important;
      padding: 18px 0;
    }
    .header .navbar-collapse {
      position: absolute;
      top: 46px !important;
      left: 0;
      width: 100%;
      background-color: #fff;
      z-index: 9;
      -webkit-box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.1);
      box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.1);
      padding: 10px 20px;
      max-height: 350px;
      overflow-y: scroll;
      border-top: 1px solid #eee;
      border-radius: 6px;
    }
    .header .navbar .navbar-nav .nav-item a:hover {
      color: #0167f3 !important;
    }
    .header .navbar .navbar-nav .nav-item a.active {
      color: #0167f3 !important;
    }
    .header .navbar-nav .nav-item {
      margin: 0;
    }
    .header .navbar-nav .nav-item:hover a {
      color: #0167f3;
    }
    .header .navbar-nav .nav-item a {
      padding: 12px 16px !important;
    }
    .header .navbar-nav .nav-item a::before {
      display: none;
    }
    .header .navbar-nav .nav-item .sub-menu {
      position: static;
      width: 100%;
      opacity: 1;
      visibility: visible;
      -webkit-box-shadow: none;
      box-shadow: none;
      padding: 0;
      border: none;
      margin-left: 15px;
      margin-right: 15px;
    }
    .header .navbar-nav .nav-item .sub-menu .nav-item a {
      padding: 12px;
    }
    .header .navbar-nav .nav-item .sub-menu .nav-item a:hover {
      color: #0167f3 !important;
    }
    .header .navbar-nav .nav-item a {
      color: #051441;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      padding: 10px 0;
    }
    .header .navbar-nav .nav-item a::after {
      opacity: 1;
      visibility: visible;
    }
    .header .navbar-nav .nav-item .sub-menu li.active {
      background: #fff !important;
      color: #0167f3 !important;
    }
    .header .navbar-nav .nav-item .sub-menu .nav-item {
      margin: 0 !important;
    }
    .header .navbar-nav .nav-item .sub-menu .nav-item a {
      padding: 10px 12px !important;
    }
    .header .navbar-nav .nav-item .sub-menu li:hover {
      background: #fff !important;
      color: #0167f3 !important;
    }
    .header .navbar-nav .nav-item a {
      font-size: 14px;
    }
    .header .navbar-nav .nav-item a:hover {
      color: #0167f3;
    }
  }
  @media (max-width: 767px) {
    .header .mobile-menu-btn .toggler-icon {
      background-color: #081828;
    }
    .header .button {
      margin: 0 !important;
    }
    .header .nav-inner {
      display: block !important;
      padding: 18px 0;
    }
    .header .navbar-collapse {
      position: absolute;
      top: 46px !important;
      left: 0;
      width: 100%;
      background-color: #fff;
      z-index: 9;
      -webkit-box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.1);
      box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.1);
      padding: 10px 20px;
      max-height: 350px;
      overflow-y: scroll;
      border-top: 1px solid #eee;
      border-radius: 6px;
    }
    .header .navbar .navbar-nav .nav-item a:hover {
      color: #0167f3 !important;
    }
    .header .navbar .navbar-nav .nav-item a.active {
      color: #0167f3 !important;
    }
    .header .navbar-nav .nav-item {
      margin: 0;
    }
    .header .navbar-nav .nav-item:hover a {
      color: #0167f3;
    }
    .header .navbar-nav .nav-item a {
      padding: 12px 16px !important;
    }
    .header .navbar-nav .nav-item a::before {
      display: none;
    }
    .header .navbar-nav .nav-item .sub-menu {
      position: static;
      width: 100%;
      opacity: 1;
      visibility: visible;
      -webkit-box-shadow: none;
      box-shadow: none;
      padding: 0;
      border: none;
      margin-left: 15px;
      margin-right: 15px;
    }
    .header .navbar-nav .nav-item .sub-menu .nav-item a {
      padding: 12px;
    }
    .header .navbar-nav .nav-item .sub-menu .nav-item a:hover {
      color: #0167f3 !important;
    }
    .header .navbar-nav .nav-item a {
      color: #051441;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      padding: 10px 0;
    }
    .header .navbar-nav .nav-item a::after {
      opacity: 1;
      visibility: visible;
    }
    .header .navbar-nav .nav-item .sub-menu li.active {
      background: #fff !important;
      color: #0167f3 !important;
    }
    .header .navbar-nav .nav-item .sub-menu .nav-item {
      margin: 0 !important;
    }
    .header .navbar-nav .nav-item .sub-menu .nav-item a {
      padding: 10px 12px !important;
    }
    .header .navbar-nav .nav-item .sub-menu li:hover {
      background: #fff !important;
      color: #0167f3 !important;
    }
    .header .navbar-nav .nav-item a {
      font-size: 14px;
    }
    .header .navbar-nav .nav-item a:hover {
      color: #0167f3;
    }
  }